<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.github.wxiaoqi.security.app.mapper.AppUserMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.github.wxiaoqi.security.app.entity.AppUser" id="appUserMap">
        <result property="id" column="id"/>
        <result property="mobile" column="mobile"/>
        <result property="password" column="password"/>
        <result property="tenantId" column="tenant_id"/>
    </resultMap>

</mapper>