<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bijiemaifang.estate.mapper.EstateMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.bijiemaifang.estate.entity.Estate" id="estateMap">
        <result property="id" column="id"/>
        <result property="type" column="type"/>
        <result property="area" column="area"/>
        <result property="structure" column="structure"/>
        <result property="fitmentLevel" column="fitment_level"/>
        <result property="district" column="district"/>
        <result property="plot" column="plot"/>
        <result property="apartment" column="apartment"/>
        <result property="houseNumber" column="house_number"/>
    </resultMap>

</mapper>
